.add-test-suite-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--color-background);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    color: var(--color-surface);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.test-suite-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    color: var(--color-surface);
    font-size: 16px;
}

button {
    background-color: var(--color-success);
    color: var(--color-surface);
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-success-hover);
}

.error-message {
    color: var(--color-danger);
    font-size: 14px;
    margin-bottom: 15px;
}