table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black; /* Устанавливаем цвет текста черным */
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

.clickable-row {
    cursor: pointer; /* Изменяем указатель мыши */
}

.clickable-row:hover {
    background-color: #f1f1f1; /* Изменяем цвет строки при наведении */
}
