name: Deploy Frontend to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted  # Ваш Self-Hosted Runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.20.0'  # Версия Node.js

      - name: Install dependencies and build frontend
        env:
          DISABLE_ESLINT_PLUGIN: true
        run: |
          npm install --ipv4
          npm run build

      - name: Deploy to Raspberry Pi
        run: |
          cp -r build/* /home/ubuntu/projects/frontend

#ыыыы
