name: Deploy Frontend to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted  # Ваш Self-Hosted Runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '22.6.0'

      - name: Install dependencies and build frontend
        env:
          DISABLE_ESLINT_PLUGIN: true
        run: |
          npm install
          npm run build

      - name: Ensure target directory exists
        run: |
          mkdir -p /home/dmitry/projects/frontend

      - name: Deploy to Raspberry Pi
        run: |
          cp -r . /home/dmitry/projects/frontend

      - name: Start the application
        run: |
          cd /home/dmitry/projects/frontend
          npm start
